* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: black;
     color: #fdfdfd;
     width: 100%;
     font-family: Roboto;
}

button {
     cursor: pointer;
}